<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>468766507915-cjtk2evli6790tgnusl2nbn7qkj5tab2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.468766507915-cjtk2evli6790tgnusl2nbn7qkj5tab2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>468766507915-15859dh615bdhn6q68ec2egki2sqmq9k.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyChpFfBsbYn05iq2gyelZ4rZz0XJTaSRGU</string>
	<key>GCM_SENDER_ID</key>
	<string>468766507915</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.amalift.rider</string>
	<key>PROJECT_ID</key>
	<string>amalift-pro</string>
	<key>STORAGE_BUCKET</key>
	<string>amalift-pro.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:468766507915:ios:7226e93fc422042301258e</string>
	<key>DATABASE_URL</key>
	<string>https://amalift-pro-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>